<div class="s-profile">
    <a href="#" data-ma-action="profile-menu-toggle">
        <div class="sp-pic">
            <img src="~/Content/img/demo/profile-pics/10.jpg" alt="">
        </div>

        <div class="sp-info">
            Fathurahman Ma'ruf Hudoarma

            <i class="zmdi zmdi-caret-down"></i>
        </div>
    </a>

    <ul class="main-menu">
        <li>
            <a href="@Url.Action("About", "Home")"><i class="zmdi zmdi-account"></i> About Me!</a>
        </li>
    </ul>
</div>
